# Chapter 1 Exercises 
## 1. Problem 1
### (A)

In [1]:
print "Hello, World!"
print("Hello, World!"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Hello, World!")? (<ipython-input-1-3fe53e43c79c>, line 1)

If you leave off any parentheses, you get a syntax error. It is necessary to have parentheses to use the print function.

### (B)

In [ ]:
#print(Hello, world!)
#print(Hello, world)
print("Hello, world)

If you leave off the quotation marks, then the argument in the print function won't be a string. 

The error we get for the first line of code is a syntax error because it reads the "!" not as a string, but as a boolean operator.

The error for the 2nd line of code is a Name error where python tries to look for a Hello variable because it doesn't see Hello as a string.

The error for the third line of code is a syntax error because there is no closing quotation marks, the closing parentheses is thought to be part of the string. This is the same eror as part A.

### (C)

In [ ]:
3 + +2
3 - +2
3 + -2
3 - -2
3--2
3 + + +2 
3 - - - - -2

If you put a plus sign before a number, it would follow rules of mathematics. 
***
1 + + 1 ==
1 + 1
***
They're equivalent, it's redundant to put so many + signs together.

If you put several + or - operators, it continues to follow the rules of mathematics. Two - operators becomes a + operator, three - operators gets condensed to a - operator etc. Spaces make no difference

### (D)

In [2]:
011

SyntaxError: invalid token (<ipython-input-2-2e9780ecac58>, line 1)

Leading zeroes are not okay in Python, they cause syntax errors. According to some cursory internet searches, in Python 2 the leading 0 acts as a flag that the following numbers are going to be expresed in base 8, in Python 3, the flag isn't just a 0, but 0o or 0O so an error is thrown.

### (E)

In [ ]:
3 2

A syntax error is thrown if a space is between two values with no operators.

## 2. Problem 2

### (A)

In [ ]:
seconds = 42 * 60 + 42
seconds

### (B)

In [ ]:
miles = 10 / 1.61
miles

### (C)

In [ ]:
pace = (42 + (42/60)) / miles

avgSpeed = 60 / pace

print(pace, "\n", avgSpeed)

## 3. Problem 3
### (A)

In [ ]:
42 = n

42 = n is not legal, we get a syntax error with the message "can't assign to literal".

### (B)

In [ ]:
x = y = 1

Yes, it is a legal statement.

### (C)
If you put a semicolon at the end of a Python statement, it makes it so the code following the semicolon is executed as if it were a new line.

### (D)
A period at the end of a statement causes a syntax error. If you put the period after a statement with an int, it is changed to a float. i.e., 1. is now 1.0

### (E)
As I state previously, the first n has the value of 42 stored as an int, the 2nd n has the value 42 stored as a float

## 4. Problem 4
### (A)

In [ ]:
def sphere_volume(r):
    vol = r**3 * 3.1415 * (4/3)
    return vol

radFive = sphere_volume(5)
radFifteen = sphere_volume(15)

print(radFive, radFifteen)

### (B)

In [ ]:
def wholesale_cost(books):
    if books <= 0:
        return 0
    cost = books * (24.95 * 0.6)
    shipping = 3
    if books > 1:
        shipping = shipping + (books - 1) * 0.75
    totalCost = cost + shipping
    return totalCost

copiesSixty = wholesale_cost(60)
copiesTen = wholesale_cost(10)

print(copiesSixty, copiesTen)

### (C)

In [ ]:
def run_time(miles, warm_pace, fast_pace):
    warmTime = warm_pace * 2
    fastTime = (miles - 2) * fast_pace
    totalSecs = warmTime + fastTime
    mins = totalSecs // 60
    secs = totalSecs % 60
    finalTime = (mins, secs)
    return finalTime

run_time(5, 495, 432)

### Optional

In [ ]:
def run_time(miles, warm_pace, fast_pace):
    warmSecs = int(warm_pace.split(":")[0]) * 60 +int(warm_pace.split(":")[1])
    fastSecs = int(fast_pace.split(":")[0])*60 + int(fast_pace.split(":")[1])
    
    warmTime = warmSecs * 2
    fastTime = (miles - 2) * fastSecs
    totalSecs = warmTime + fastTime
    mins = totalSecs // 60
    secs = totalSecs % 60
    finalTime = (mins, secs)
    return finalTime

run_time(5, "8:15", "7:12")

### 5. Problem 5

In [ ]:
import math

def polar(real, imaginary):
    rad = math.sqrt(real**2 + imaginary**2)
    theta = math.atan(imaginary/real)
    coords = (rad, theta)
    return coords

print(polar(1, 1), polar(-2, -3), polar(4,2) )